.table-page-component {
  .table-page-component__data {
    overflow: auto;
    box-shadow: 3.3px 3.8px 12px 0 rgba(0, 0, 0, 0.1);
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 4px;
  }
}